<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-symfony-original colored"></i>
      <p>I live in the Back-end and I f***ing love Symfony especially when combined with PHP7 and Linux</p>
    </div>
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>My Front-end Skills aren´t that awesome, but I know how to build the Stuff that I need</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-phpstorm-plain-wordmark colored"></i>
      <p>A good toolset is everything for me. It helps to work in a team, speeds up the development and it helps to serve a A+ quality product</p>
    </div>
  </div>
</div>
