<div class="container">
  <div class="user-details">
    <h3> Blog </h3>
  </div>
  {% for post in site.posts %}
    <div class="row user-blog">
      <div class="six columns images">
        <img alt="post image" src="{{post.image}}" />
      </div>
      
      <div class="six columns">
        <h5>{{ post.title }}</h5>
        <li>{{ post.subtitle }}</li>
        <p>{{ post.description }}</p>
        <a class="blog-link" href="{{post.url}}">Check it out</a>
      </div>
    </div>
  {% endfor %}
</div>